PORT=5000
MONGO_URI=mongodb+srv://testing_db:dinsPt15PBS0SFxY@cluster0.japdep1.mongodb.net/?appName=Cluster0
DEFAULT_ADMIN_NAME=Master Admin
DEFAULT_ADMIN_EMAIL=admin@admin.com
DEFAULT_ADMIN_PASSWORD=hellohello

JWT_SECRET=myVeryStrongSecretKey123

SMS_PROVIDER=twilio
SMS_DEFAULT_COUNTRY_CODE=+94
TWILIO_ACCOUNT_SID=your_sid
TWILIO_AUTH_TOKEN=your_token
TWILIO_FROM_NUMBER=your_twilio_phone